<!DOCTYPE html>
<html>
<head>
    <title>Vendas mensais por produto</title>
</head>
<body>
    <h1>Vendas mensais por produto</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Mês</th>
                <th>Vendas Totais</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
